/* FONT */
$font-family: "hk_groteskregular", Verdana, sans-serif;
$font-family-regular: "hk_groteskregular", Verdana, sans-serif;
$font-family-medium: "hk_groteskmedium", Verdana, sans-serif;
$font-family-bold: "hk_groteskbold", Verdana, sans-serif;
$font-family-semibold: "hk_grotesksemibold", Verdana, sans-serif;

$font-2: "Baskervville", sans-serif;
$font-3: "Lato", sans-serif;

$font-size-main: 16px;
$font-height-main: 19px;
$font-size-sub: 18px;
$font-height-sub: 23px;


/* COLOR */
$body-color: #f4f4f4;
$text-color-1: #101820;
$text-color-2: #000;

$color-pink: #E89CAE;
$color-disabled: #c2c5cf;